<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Singapore</string>
		<key>shortDescription</key>
		<string>Dummy text.</string>
		<key>description</key>
		<string></string>
		<key>date</key>
		<string>Mar 2015</string>
		<key>type</key>
		<integer>0</integer>
		<key>image</key>
		<string>Singapore</string>
		<key>button</key>
		<dict>
			<key>title</key>
			<string></string>
			<key>link</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>Siemens iCATCH</string>
		<key>shortDescription</key>
		<string>Dummy text.</string>
		<key>description</key>
		<string></string>
		<key>date</key>
		<string>Jan 2015</string>
		<key>type</key>
		<integer>1</integer>
		<key>image</key>
		<string>iCATCH</string>
		<key>button</key>
		<dict>
			<key>title</key>
			<string>Watch presentation on YouTube</string>
			<key>link</key>
			<string>https://www.youtube.com/watch?v=3tmGqeAqJT8</string>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>Swift Teaching Assistant</string>
		<key>shortDescription</key>
		<string>In last winter term&apos;s &quot;iOS Praktikum&quot; at TUM, I was chosen to be a teaching assistant in the Swift introduction course.</string>
		<key>description</key>
		<string></string>
		<key>date</key>
		<string>Oct 2014</string>
		<key>type</key>
		<integer>1</integer>
		<key>image</key>
		<string>SwiftTeaching</string>
		<key>button</key>
		<dict>
			<key>title</key>
			<string>Take a look at the slides</string>
			<key>link</key>
			<string>http://home.cs.tum.edu/~rabanser/uni/teaching-ios/RESTful_Services_Talk.pdf</string>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>Hours</string>
		<key>shortDescription</key>
		<string>Hours is a new way for finding time to meet with friends, at work or anything in between.</string>
		<key>description</key>
		<string></string>
		<key>date</key>
		<string>Jan 2014</string>
		<key>type</key>
		<integer>2</integer>
		<key>image</key>
		<string>Hours</string>
		<key>button</key>
		<dict>
			<key>title</key>
			<string>Take a look at temporary website</string>
			<key>link</key>
			<string>http://hours.im</string>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>Piqup</string>
		<key>shortDescription</key>
		<string>Piqup is a Dropbox client which makes it easy to take exclusive pictures and allows you to share them with your private group of choice.</string>
		<key>description</key>
		<string></string>
		<key>date</key>
		<string>Oct 2013</string>
		<key>type</key>
		<integer>2</integer>
		<key>image</key>
		<string>Piqup</string>
		<key>button</key>
		<dict>
			<key>title</key>
			<string>Buy on the App Store</string>
			<key>link</key>
			<string>https://itunes.apple.com/de/app/piqup/id718548316?l=en&amp;mt=8</string>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>WWDC &apos;13 Scholarship</string>
		<key>shortDescription</key>
		<string>Apple chose me to attend 2013’s Worldwide Developers Conference in San Francisco on a student scholarship.</string>
		<key>description</key>
		<string></string>
		<key>date</key>
		<string>Jun 2013</string>
		<key>type</key>
		<integer>2</integer>
		<key>image</key>
		<string>WWDC13</string>
		<key>button</key>
		<dict>
			<key>title</key>
			<string></string>
			<key>link</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>Computer Science student at TUM</string>
		<key>shortDescription</key>
		<string>TUM (Technische Universität München) is considerd one of the top technological universities in Europe.</string>
		<key>description</key>
		<string>especially in areas like Chemistry, Mechanical Engineering and Computer Science.
        
Currently, I&apos;ve just started my sixth (and most likely last) semester. </string>
		<key>date</key>
		<string>Oct 2012</string>
		<key>type</key>
		<integer>1</integer>
		<key>image</key>
		<string>TUM</string>
		<key>button</key>
		<dict>
			<key>title</key>
			<string>Visit TUM homepage</string>
			<key>link</key>
			<string>http://www.tum.de/en/homepage/</string>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>Relocation to Munich</string>
		<key>shortDescription</key>
		<string>Dummy text.</string>
		<key>description</key>
		<string></string>
		<key>date</key>
		<string>Sep 2012</string>
		<key>type</key>
		<integer>0</integer>
		<key>image</key>
		<string>Munich</string>
		<key>button</key>
		<dict>
			<key>title</key>
			<string></string>
			<key>link</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>Miami</string>
		<key>shortDescription</key>
		<string>I&apos;ve always been a huge fan of the United States and on September 2nd I finally made the jump over the big lake for the very first time.</string>
		<key>description</key>
		<string></string>
		<key>date</key>
		<string>Sep 2012</string>
		<key>type</key>
		<integer>0</integer>
		<key>image</key>
		<string>Miami</string>
		<key>button</key>
		<dict>
			<key>title</key>
			<string></string>
			<key>link</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>Stripe Capture the Flag</string>
		<key>shortDescription</key>
		<string>I was one out of 250 people, who successfully hacked themselves through Stripe&apos;s &quot;Capture the Flag&quot; contest.</string>
		<key>description</key>
		<string>and obtained my special CTF T-Shirt. I also participated in 2012&apos;s Summer-CTF and I managed to get to level 7/8.</string>
		<key>date</key>
		<string>Feb 2012</string>
		<key>type</key>
		<integer>2</integer>
		<key>image</key>
		<string>Stripe</string>
		<key>button</key>
		<dict>
			<key>title</key>
			<string>Check out blog post</string>
			<key>link</key>
			<string>https://stripe.com/blog/capture-the-flag</string>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>Apfeltech</string>
		<key>shortDescription</key>
		<string>Apfeltech is a german technology news blog mainly focusing on Apple and related companies.</string>
		<key>description</key>
		<string></string>
		<key>date</key>
		<string>Sep 2010</string>
		<key>type</key>
		<integer>2</integer>
		<key>image</key>
		<string>Apfeltech</string>
		<key>button</key>
		<dict>
			<key>title</key>
			<string>Check out apfeltech.net</string>
			<key>link</key>
			<string>http://apfeltech.net</string>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>iOS and OS X Development</string>
		<key>shortDescription</key>
		<string>After I fell in love with the iPhone the very moment I first saw it, getting into iOS and OS X development was a logical step for an emerging CS student like me.</string>
		<key>description</key>
		<string></string>
		<key>date</key>
		<string>Mar 2008</string>
		<key>type</key>
		<integer>2</integer>
		<key>image</key>
		<string>iOSDev</string>
		<key>button</key>
		<dict>
			<key>title</key>
			<string></string>
			<key>link</key>
			<string></string>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>High School Student at TFO &quot;Max Valier&quot;</string>
		<key>shortDescription</key>
		<string>The TFO &quot;Max Valier&quot; is the most renowned high school focusing on technological subjects in my home province.</string>
		<key>description</key>
		<string>After my graduation from middle school, I had to decide which high school would be most appropriate to help me to accomplish my long term goals as a prospective computer scientist. That&apos;s why the TFO &quot;Max Valier&quot; in Bolzano - which is the most renowned high school focusing on technology in our province - was the way to go.
        
After two years of general studies, I focused on Information Technology in the next three years. Subjects like Informatics, Systems and Electronics greatly helped me in shaping my understanding of Computer Science and how it realates to other important fields. </string>
		<key>date</key>
		<string>Sep 2007</string>
		<key>type</key>
		<integer>1</integer>
		<key>image</key>
		<string>TFO</string>
		<key>button</key>
		<dict>
			<key>title</key>
			<string>Visit TFO website</string>
			<key>link</key>
			<string>http://www.tfobz.it</string>
		</dict>
	</dict>
	<dict>
		<key>title</key>
		<string>Birth and growing up</string>
		<key>shortDescription</key>
		<string>I was born on December 12th 1993 in the beatiful region of South Tyrol, Italy.</string>
		<key>description</key>
		<string>Even though I&apos;m an Italian citicen, I grew up as a German native speaker, because South Tyrol has once been part of Austria, but was a gift to Italy after World War I. Round about 70% of the population of South Tyrol speaks German as their first language, altough most of them prefer a quite aggressive dialect in their average day-to-day conversations.
            
Between 1999 and 2004, I attended elementary school in Soprabolzano. Then I went to the &quot;Franziskaner-Gymnasium&quot; (a private school in Bolzano) from 2004 to 2007. </string>
		<key>date</key>
		<string>Dec 1993</string>
		<key>type</key>
		<integer>0</integer>
		<key>image</key>
		<string>Southtyrol</string>
		<key>button</key>
		<dict>
			<key>title</key>
			<string>Read about South Tyrol on Wikipedia</string>
			<key>link</key>
			<string>http://en.wikipedia.org/wiki/South_Tyrol</string>
		</dict>
	</dict>
</array>
</plist>
